<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="comentarios-app">
  <template >
    <style>
      :host{
        display:inline-block;

          }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/src/html/css/comentarios.css">

  <div class="panel">


  <h2><strong>Comentarios</strong></h2>
  <div><textarea class="formcontrol" name="textoComent" rows="3" cols="60" id="txtComentario"></textarea></div>
  <br>
  <button type="button" class="btn btncoment" name="nuevopost" on-click="insertarPost">Insertar Comentario</button>
  <br>
  </div>
  <br>

  <template is="dom-repeat" items="[[listado]]">
    <div class="container comentario">
      <p>{{item.texto}}</p>
      <div class="text-right">
        Por <b><span id="usurioCom">{{item.usuario}}</span></b> |
        <span><span id="fechaCom"></span>{{item.fechafor}}</span>,<span>{{item.hora}}</span>

      </div>


    </div>
   <br>

  </template>
</template>



  <script>
    Polymer({
      is:'comentarios-app',
      properties:{
        listado:{
          type: Array,
          notify: true
        },
        idpost:{
          type:String,
          notify: true
          },
        urlbbdd:{
          type:String,
          value:'https://api.mlab.com/api/1/databases/bootcamp/collections/comentarios'
        },
        apikey:{
          type:String,
          value:'plZnUksVVShCyccLHHF60bQnVze1kN0s'
        },
      },
      listeners:{

      },
        //Cargar Post a inicio
        ready:function(){
          this.obtenerPosts();

        },

      //Insertar el comentario en la BBDD
      insertarPost: function(){

        var urlMongo = this.urlbbdd + "?apiKey=" + this.apikey;
        var peticion = new XMLHttpRequest();
        peticion.open("POST",urlMongo,false);
        peticion.setRequestHeader("Content-Type","application/json");

        var usuarioLog = JSON.parse(sessionStorage["usuariolog"]);

        var usuarioComment = usuarioLog.usuario;
        var nombreComment = usuarioLog.autor.nombre + " " + usuarioLog.autor.apellido;

        var fechaActual = new Date();
        var fechaTxT = fechaActual.toISOString();

        var fechaFor = fechaTxT.slice(8,10) +"/"+fechaTxT.slice(5,7) +"/"+ fechaTxT.slice(0,4)
        var horaComent = fechaTxT.slice(11,19);
        var textoComent = document.getElementsByName("textoComent")[0].value;

        var comentarioJson =  '{"texto":"'+ textoComent +
                        '","autor":"' + nombreComment  +
                        '","hora":"'+ horaComent +
                        '","idpost":"'+ this.idpost +
                        '","fechafor":"'+ fechaFor +
                        '","fecha": {"$date":"'+ fechaTxT +
                        '"}' +
                        ',"usuario":"'+ usuarioComment +'"}'

         console.log(comentarioJson);

         peticion.send(comentarioJson);

         if (peticion.status=="200")
         {
           this.obtenerPosts();
           this.$.txtComentario.value="";
         }
         else
         {
             alert("Error al insertar comentario");
         }
      },
      //Obtener los comentarios asociados al post
      obtenerPosts: function(){

        var urlId = this.urlbbdd + '?q={"idpost":"' + this.idpost + '"}&apiKey=' + this.apikey;

        console.log(urlId);
        var peticion = new XMLHttpRequest();
        peticion.open("GET", urlId, false);
        peticion.setRequestHeader("Content-Type","application/json");
        peticion.send();

        if (peticion.status=="200")
        {
          var response1 = JSON.parse(peticion.responseText);
          this.listado = response1;
        }
        else
        {
            alert("Error al recuperar comentarios");
        }


      }
    })


  </script>

</dom-module>
