<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">

<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>


    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<dom-module id="consultapostusu-app">
  <template >
    <link rel="stylesheet" href="/src/html/css/mantepost.css">

  <div class="bot">


  <!--<button type="button" name="refrescar" on-click="obtenerPosts">Refrescar</button>-->

  </div>

 <div class="container">

  <template is="dom-repeat" id="idListRep" items="[[listado]]">

   <div class="row">
     <aside class="">

     <div class="panel">
       <img src="{{item.imagen}}" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail imgajust">
       <div class="text-right">
         <span><strong class="categ">&nbsp&nbsp {{item.categoria}}</strong></span>
       </div>

      <h2>{{item.titulo}}</h2>
      <article><p class="cortartext">{{item.texto}}<article><p>


          <button type="button" class="btn btn-excel btn-sm" name="btnConsulta" id={{item._id.$oid}} on-click="detallarPost"><i class="glyphicon glyphicon-share-alt"> </i> Detalle</button>
          <button type="button" class="btn btn-edit btn-sm" name="btnEditar" id={{item._id.$oid}} on-click="editarPost"  style="visibility:[[botonoculto]];" disabled=[[botonhabilitado]]><i class="glyphicon glyphicon-edit"></i> Editar</button>

          <button type="button" class="btn btn-delete btn-sm" name="btnEliminar" id={{item._id.$oid}} style="visibility:[[botonoculto]];" on-click="eliminarPost" [[botonhabilitado]]><i class="glyphicon glyphicon-trash"></i> Eliminar</button>


      <div class="author text-right">

        <b>{{item.equipo}}</b>
        ,Por <b>{{item.usuario}}</b> |
        <span>{{item.fechafor}}</span>

      </div>

    </div>
  </aside>

    </div>

  </template>
    </div>



</template>



  <script>
    Polymer({
      is:'consultapostusu-app',
      properties:{
        listado:{
          type: Array,
          notify: true
        },
        urlbbdd:{
          type:String,
          value:'https://api.mlab.com/api/1/databases/bootcamp/collections/posts'
        },
        apikey:{
          type:String,
          value:'plZnUksVVShCyccLHHF60bQnVze1kN0s'
        },
        botonhabilitado:{
          type:Boolean,
          value:false
        },
        botonoculto:{
          type:String,
          value:'visibility'
        },
      },
      listeners:{
      //  'tap':'obtenerPosts',
      //  'prueba':'incrementar'
      },

      ready:function(){


      },

      /*obtenerPosts: function(){
        const URL = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=plZnUksVVShCyccLHHF60bQnVze1kN0s";

        var peticion = new XMLHttpRequest();
        peticion.open("GET", URL, false);
        peticion.setRequestHeader("Content-Type","application/json");
        peticion.send();

        var response1 = JSON.parse(peticion.responseText);
        this.listado = response1;
      },*/
      //Función que elimina el post
      eliminarPost: function(e){

        var idElim = e.target.id;
        console.log(idElim);

        var opnConfirm = confirm("¿Desea eliminar el post?");
        console.log(opnConfirm);
        if(opnConfirm){

          var urlId = this.urlbbdd + "/" + idElim + "?apiKey=" + this.apikey;
          console.log(urlId);

          var peticion = new XMLHttpRequest();
          peticion.open("DELETE", urlId, false);
          peticion.setRequestHeader("Content-Type","application/json");


          peticion.send();

          if (peticion.status=="200"){
              //alert("Eliminado de post");
              this.eliminarPostList(idElim);
          }
          else
          {
              alert("Error");
          }

        }
      },
      //Filtrar el post eliminado de la lista
      eliminarPostList: function(idElim){
        var listadoAux = this.listado;
        var listadoNuevo = new Array();

        console.log(idElim);

        for(var i=0; i<listadoAux.length; i++){
          if (listadoAux[i]._id.$oid != idElim) {
            listadoNuevo.push(listadoAux[i]);
          }

        }
        console.log(listadoNuevo);
        //delete listadoJSON[0];
        //console.log(listadoJSON);
        this.listado = listadoNuevo;
        this.$.idListRep.render();
      },
      // Guarda en la sesión el post a editar y redirige a la página
      editarPost: function(e){

        var idEdit = e.target.id;
        console.log(idEdit);
        sessionStorage["postEditar"] = idEdit;
        location.href="/modifpost";
      },
      // Guarda en la sesión el post a mostrar y redirige a la página
      detallarPost: function(e){

        var idDetal = e.target.id;
        console.log(idDetal);
        sessionStorage["postDetallar"] = idDetal;
        location.href="/detpost";
      }

    })


  </script>

</dom-module>
