<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">

<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <!-- Latest compiled and minified CSS -->

<dom-module id="consultapost-app">
  <template >

    <link rel="stylesheet" href="/src/html/css/landing.css">

</style>
      <div class="container">
          <div class="row">

            <template is="dom-repeat" id="idListRep" items="[[listado]]">

              <div class="col-lg-6 col-md-6">
             <aside>
               <div class="foto">
              	<img src="{{item.imagen}}" class="img-responsive" />
              	<p><strong>{{item.categoria}}</strong></p>
              </div>

                <div class="content-title">
        				<div class="text-center">
        				<h3><strong>{{item.titulo}}</strong></h3>
        				</div>
                <div class="author text-right">
                        <b>{{item.equipo}}</b>
                        ,Por <b>{{item.usuario}}</b> |
                        <span>{{item.fechafor}}</span>
                    </div>
        				</div>
        				<div class="content-footer">
                  <div >
                    <button  type="button" name="btnConsulta" id={{item._id.$oid}} class="btn btn-post" on-click="detallarPost">Consultar</button>
                  </div>

                </div>
             </aside>
            </div>

            </template>
          </div>
      </div>

</template>

  <script>
    Polymer({
      is:'consultapost-app',
      properties:{

        listado:{
          type: Array,
          notify: true
        },
        urlbbdd:{
          type:String,
          value:'https://api.mlab.com/api/1/databases/bootcamp/collections/posts'
        },
        apikey:{
          type:String,
          value:'plZnUksVVShCyccLHHF60bQnVze1kN0s'
        }
      },
      listeners:{

      },

      ready:function(){

    },
      /*
      obtenerPosts: function(){

        var urlMongo = this.urlbbdd + "?apiKey=" + this.apikey;

        var peticion = new XMLHttpRequest();
        peticion.open("GET", urlMongo, false);
        peticion.setRequestHeader("Content-Type","application/json");
        peticion.send();

        if (peticion.status=="200"){

          var response1 = JSON.parse(peticion.responseText);
          this.listado = response1;
        }
        else
        {
            alert("Error al recuperar Post");
        }


      },

      eliminarPost: function(e){

        var idElim = e.target.id;
        console.log(idElim);

        var opnConfirm = confirm("¿Desea eliminarl el post?");
        console.log(opnConfirm);
        if(opnConfirm){

          var urlId = this.urlbbdd + "/" + idElim + "?apiKey=" + this.apikey;
          console.log(urlId);

          var peticion = new XMLHttpRequest();
          peticion.open("DELETE", urlId, false);
          peticion.setRequestHeader("Content-Type","application/json");

          peticion.send();

          if (peticion.status=="200"){

              this.eliminarPostList(idElim);
          }
          else
          {
              alert("Error al eliminar Post");
          }

        }
      },

      eliminarPostList: function(idElim){
        var listadoAux = this.listado;
        var listadoNuevo = new Array();

        console.log(idElim);

        for(var i=0; i<listadoAux.length; i++){
          if (listadoAux[i]._id.$oid != idElim) {
            listadoNuevo.push(listadoAux[i]);
          }

        }
        console.log(listadoNuevo);
        //delete listadoJSON[0];
        //console.log(listadoJSON);
        this.listado = listadoNuevo;
        this.$.idListRep.render();
      },

      editarPost: function(e){

        var idEdit = e.target.id;
        console.log(idEdit);
        sessionStorage["postEditar"] = idEdit;
        location.href="/modifpost";
      },*/
      detallarPost: function(e){

        var idDetal = e.target.id;
        console.log(idDetal);
        sessionStorage["postDetallar"] = idDetal;
        location.href="/detpost";
      }

    })


  </script>

</dom-module>
