<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>


    <!-- Latest compiled and minified CSS -->
<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/src/html/css/login.css">


    <div class="container centered">
      <div class="card card-container">
        <form class="form-signin" >
          <input type="email" id="inputEmail" required class="form-control" name="usuariologin" placeholder="Usuario">
          <input type="password" id="inputPassword" required class="form-control" name="passLogin" placeholder="**********">
          <button class="btn " name="Submit" type="button" value="Login" on-click="logarUsuario">Login</button>
        </form>

        <div class="">
          <span id="msgLogin" name="msgLogin" class="resultado"></span>
        </div>
        <div class="">
          <a href="/registro">Alta de nuevo usuario</a>
        </div>
      </div>
  </div>
  </template>

<script>
  Polymer({
    is:'login-app',
    properties:{
      urlmongo:{
        type:String,
        value:'https://api.mlab.com/api/1/databases/bootcamp/collections/usuarios'
      },
      urllog:{
        type:String,
        value:'http://postgrebc9688.cloudapp.net:3000/api/login'
      },
      urlbbdd:{
        type:String,
        value:'http://postgrebc9688.cloudapp.net:3000/api/usuarios'
      },
      apikey:{
        type:String,
        value:'plZnUksVVShCyccLHHF60bQnVze1kN0s'
      },
    },

    //Función que se encarga de comprobar que el usuario y clave es correcto
    logarUsuario: function(){

      //var usuario = document.getElementsByName("usuariologin")[0].value;
      var usuario = this.$.inputEmail.value;
      //var password = document.getElementsByName("passLogin")[0].value;
      var password = this.$.inputPassword.value;

      //var spanMensaje = document.getElementsByName("msgLogin")[0];
      var spanMensaje = this.$.msgLogin

      //console.log("Valor"+usuario+"a"+password);

      if(usuario == "" || password == ""){

        spanMensaje.innerText = "Informar campos requeridos";

      }
      else
      {
          var peticion = new XMLHttpRequest();
          peticion.open("POST", this.urllog, false);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
          peticion.send('{"nombre":"' + usuario + '", "password": "' + password + '"}');

          var respuesta = JSON.parse(peticion.responseText);

          if (peticion.status=="200" && respuesta.data.count > 0)
          {

              console.log(respuesta);
              this.grabarUsuario(usuario);
              //NsessionStorage.setItem("usuario", usuario);
              location.href="/landing";
          }
          else
          {
              spanMensaje.innerText = "Login incorrecto";
          }
      }
    },

    //Recuperar información del MongoDB para guardarlo en la sessionStorage
    grabarUsuario: function(usuario){

      var urlId = this.urlmongo + '?q={"username":"' + usuario + '"}&apiKey=' + this.apikey;

      var peticion = new XMLHttpRequest();
      peticion.open("GET", urlId, false);
      peticion.setRequestHeader("Content-Type","application/json");
      peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
      console.log(urlId);
      peticion.send();

      if (peticion.status=="200")
      {
          response = JSON.parse(peticion.responseText);
          //console.log("entro");

          var nombre = response[0].usuario.nombre;
          var apellidos = response[0].usuario.apellido;
          var ciudad = response[0].ciudad;
          var equipo = response[0].equipo;
          var imagen = response[0].imagen;
          var idMongo = response[0]._id.$oid;
          //console.log(idMongo);

          var idPostgre = this.obtenerIdPostgre(usuario);

          //console.log(nombre+apellidos+ciudad+equipo+imagen);

          var usuariolog =  '{"usuario":"'+ usuario +
                          '","autor": {"nombre": "'+ nombre +
                          '","apellido": "' + apellidos +
                          '"},"imagen":"'+ imagen +
                          '","ciudad":"'+ ciudad +
                          '","idmongo":"'+ idMongo +
                          '","idpostgre":"'+ idPostgre +
                          '","equipo":"'+ equipo +'"}';
          //console.log(usuariolog);

          sessionStorage.setItem("usuariolog", usuariolog);
          //console.log("esto");
      }
      else
      {
        document.getElementsByName("msgLogin")[0].innerText = "Error al recuperar datos usuario MongoDB";
      }
    },

    //Recuperar información del la base de datos PostgreSQL
    obtenerIdPostgre: function(usuario){

      var idUsuario = 0;
      //console.log("entro a funcion");
      var peticion = new XMLHttpRequest();
      peticion.open("GET", this.urlbbdd, false);
      peticion.setRequestHeader("Content-Type", "application/json");

      peticion.send();

      if (peticion.status=="200")
      {
        response = JSON.parse(peticion.responseText);

        for (var i = 0; i < response.data.length; i++) {
          if (response.data[i].nombre == usuario) {
            idUsuario = response.data[i].id;
            //console.log(response.data[i]);

          }
        }
        //console.log(response.data[0]);
      }
      else {
        document.getElementsByName("msgLogin")[0].innerText = "Error al recuperar datos usuario PostgreSQL";
      }

      return idUsuario;
    }

  });


  </script>
</dom-module>
