<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">


<dom-module id="mantenimientousuario-app">
  <template >
    <link rel="stylesheet" href="/src/html/css/manteusu.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="fondo">

  <div class="container">
   <div id="signupbox" style=" margin-top:30px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                      <div class="panel panel-default">
                          <div class="panel-heading text-center">
                              <strong class="" id="titulopanelusu">Registro de usuario</strong>
                            </div>
                          <div class="panel-body" >
                              <form id="signupform" class="form-horizontal" role="form">

                                  <div class="form-group">
                                      <label for="firstname" class="col-md-3 control-label">Usuario</label>
                                      <div class="col-md-9">
                                          <input type="text" class="form-control" id="username" name="username" placeholder="Usuario*" required="true" autofocus=""/>
                                      </div>
                                  </div>

                             <div class="form-group">
                                      <label for="email" class="col-md-3 control-label">Email</label>
                                      <div class="col-md-9">
                                          <input type="email" class="form-control" id="emailUsu" name="emailUsu" placeholder="E-mail*" required="true"/>
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <label for="password" class="col-md-3 control-label">Password</label>
                                      <div class="col-md-9">
                                          <input type="password" class="form-control" id="passwordUsu" name="passwordUsu" placeholder="Password" required="true"/>
                                      </div>
                                  </div>

                              <div class="form-group">
                                      <label for="password" class="col-md-3 control-label">Nombre</label>
                                      <div class="col-md-9">
                                          <input type="text" class="form-control" id="nombreUsu" name="nombreUsu" placeholder="Nombre*" required="true" autofocus="" />
                                      </div>
                                  </div>

                              <div class="form-group">
                                      <label for="password" class="col-md-3 control-label">Apellido</label>
                                      <div class="col-md-9">
                                          <input type="text" class="form-control" id="apellidosUsu" name="apellidosUsu" placeholder="Apellidos" autofocus="" />
                                      </div>
                              </div>
                              <div class="form-group">
                                      <label for="password" class="col-md-3 control-label">Teléfono</label>
                                      <div class="col-md-9">
                                          <input type="text" class="form-control" id="telefonoUsu" name="telefonoUsu" placeholder="Teléfono" required="" autofocus="" />
                                      </div>
                              </div>
                              <div class="form-group">
                                      <label for="password" class="col-md-3 control-label">Imagen</label>
                                      <div class="col-md-9">
                                          <input type="text" class="form-control" id="imagenUsu" name="imagenUsu" placeholder="Imagen" required="" autofocus="" />
                                      </div>
                              </div>
                              <div class="form-group">
                                   <label class="col-md-3 control-label">Equipo</label>
                                   <div class="col-md-9">
                                       <select class="form-control" id="sel1" name="equipoUsu" required="true">
                                         <option>Proyectos</option>
                                         <option>ANS</option>
                                         <option>Negocio</option>
                                         <option>Opplus</option>
                                       </select>
                                    </div>
                              </div>

                              <div class="form-group">
                                   <label class="col-md-3 control-label">Ciudad</label>
                                   <div class="col-md-9">
                                     <select class="form-control" id="sel1" name="ciudadUsu" required="true">
                                       <option>Madrid</option>
                                       <option>Bilbao</option>
                                       <option>Barcelona</option>
                                       <option>Málaga</option>
                                   </select>
                                   </div>
                              </div>
                              <div class="form-group">
                                <div class="text-center">
                                  <span id="mensaje" name="mensaje" class="resultado"></span>
                                 </div>
                              </div>
                                  <div class="form-group">
                                      <!-- Button -->
                                      <div class="col-md-offset-3 col-md-9">
                                        <div class="">
                                          <button class="btn btn-negro btn-block" type="button" name="btnAceptar"  id="btnAceptar" on-click="insertarUsuario">Aceptar</button>
                                        </div>
                                        <div class="">
                                          <button class="btn btn-negro btn-block" type="button" name="btnActualizar" id="btnActualizar" on-click="actualizarUsu">Actualizar</button>
                                        </div>
                                      </div>
                                  </div>
                              </form>
                           </div>
                      </div>
   </div>
  </div>
 </div>

</template>

  <script>
    Polymer({
      is:'mantenimientousuario-app',
      properties:{
        urlmongo:{
          type:String,
          value:'https://api.mlab.com/api/1/databases/bootcamp/collections/usuarios'
        },
        urlbbdd:{
          type:String,
          value:'http://postgrebc9688.cloudapp.net:3000/api/usuarios'
        },
        apikey:{
          type:String,
          value:'plZnUksVVShCyccLHHF60bQnVze1kN0s'
        },
        accionpost:{
            type:String
        },

      },
      /*Función que se al iniciar el componente. Determina si está en modo insertarUsuario
       o modificar*/
      ready:function(){

        var btnAceptar = this.$.btnAceptar;
        var btnActualizar = this.$.btnActualizar;
        //console.log("ready" + this.accionpost );

        if (this.accionpost == "modificar")
        {
          //dejar el boton de Actualizar
          btnAceptar.style.visibility = "hidden";
          btnAceptar.style.display = "none";

          this.$.titulopanelusu.innerText = "Modificación de Usuario"

          document.getElementsByName("username")[0].readOnly = true;

          var usuarioLog = JSON.parse(sessionStorage["usuariolog"]);
          //console.log(usuarioLog);
          if (usuarioLog != "")
          {
            var usuarioPostgre = this.obtenerUsuarioPostgre(usuarioLog);
            var usuarioMongo = this.obtenerUsuarioMongo(usuarioLog);

            this.moverDatosUsuario(usuarioPostgre,usuarioMongo);
          }
        }
        else
        {
          //Dejar solo el boton de aceptar
          btnActualizar.style.visibility = "hidden";
          btnActualizar.style.display = "none";
        }

      },
      //Funcion que insertar los valores introducidos en postgreSQL y MongoDB
      insertarUsuario: function(){

        const imgdefecto = "http://i67.tinypic.com/21ce2dh.png";

        var urlMongo = this.urlmongo + "?apiKey=" + this.apikey;

        var peticion = new XMLHttpRequest();
        peticion.open("POST",this.urlbbdd,false);
        peticion.setRequestHeader("Content-Type", "application/json");
        peticion.setRequestHeader("Access-Control-Allow-Origin", "*");

        //Datos para BBDD de postgreSQL
        var username = document.getElementsByName("username")[0].value;

        var emailUsu = document.getElementsByName("emailUsu")[0].value;

        var passwordUsu = document.getElementsByName("passwordUsu")[0].value;


        //Datos para la BBDD de Mongo
        var ciudadUsu = document.getElementsByName("ciudadUsu")[0].value;
        var equipoUsu = document.getElementsByName("equipoUsu")[0].value;
        var telefonoUsu = document.getElementsByName("telefonoUsu")[0].value;
        var apellidosUsu = document.getElementsByName("apellidosUsu")[0].value;
        var nombreUsu = document.getElementsByName("nombreUsu")[0].value;
        var imagenUsu = document.getElementsByName("imagenUsu")[0].value;

        if (imagenUsu=="")
        {
          imagenUsu = imgdefecto;
        }

        var spanMensaje = document.getElementsByName("mensaje")[0];

        if (username == "" || emailUsu == "" ||
            passwordUsu == "" || ciudadUsu == "" ||
            equipoUsu == "" || nombreUsu == "" )
        {
            spanMensaje.innerText = "Informar campos requeridos *";
        }
        else
        {
          var usuarioJsonSQL =  '{"nombre":"' + username + '", "email": "' + emailUsu + '", "password": "' + passwordUsu + '"}';

          var usuarioJsonMongo =  '{"email":"'+ emailUsu +
                          '","username":"' + username  +
                          '","usuario": {"nombre": "'+ nombreUsu +
                          '","apellido": "' + apellidosUsu +
                          '"},"imagen":"'+ imagenUsu +
                          '","telefono":"'+ telefonoUsu +
                          '","equipo":"'+ equipoUsu +
                          '","ciudad":"'+ ciudadUsu + '"}';


          //console.log(usuarioJsonSQL);
          //console.log(usuarioJsonMongo);

          //Insertamos en PostgreSQL
          peticion.send(usuarioJsonSQL);

          var respuesta = JSON.parse(peticion.responseText);

           if (peticion.status=="200")
           {
             var peticionMongo = new XMLHttpRequest();
             peticionMongo.open("POST",urlMongo,false);
             peticionMongo.setRequestHeader("Content-Type", "application/json");
             //console.log(urlMongo);
             //Insertamos en Mongo

             peticionMongo.send(usuarioJsonMongo);

             if (peticionMongo.status=="200")
             {
               location.href="/";
               //console.log(respuesta);
             }
             else
             {
               spanMensaje.innerText = "Error al insertar usuario";
             }
           }
           else
           {
               spanMensaje.innerText = "Error al insertar usuario";
           }
         }
      },
      //Obtener el usuario de postgreSQL a partir del id
      obtenerUsuarioPostgre: function(usuarioLog){

        var response = null;
        var urlId = this.urlbbdd + "/" + usuarioLog.idpostgre
        //console.log(urlId);
        var peticion = new XMLHttpRequest();
        peticion.open("GET", urlId, false);
        peticion.setRequestHeader("Content-Type","application/json");
        peticion.send();

        if (peticion.status=="200")
        {
          response = JSON.parse(peticion.responseText);
          //console.log(response);
        }
        else
        {
          document.getElementsByName("mensaje")[0].innerHTML = "Error al recuperar usuario";
        }

        return response;

      },

      //Obtener usuario de mongo a partir del mongo
      obtenerUsuarioMongo: function(usuarioLog){

        var response = null;
        console.log("obtenerUsuarioMongo");
        var urlId = this.urlmongo + "/" + usuarioLog.idmongo  + "?apiKey=" + this.apikey;
        console.log(urlId);
        var peticion = new XMLHttpRequest();
        peticion.open("GET", urlId, false);
        peticion.setRequestHeader("Content-Type","application/json");
        peticion.send();
        //console.log(response);

        if (peticion.status=="200")
        {
          response = JSON.parse(peticion.responseText);
          //console.log(response);
        }
        else
        {
          document.getElementsByName("mensaje")[0].innerHTML = "Error al recuperar usuario";
        }

        return response;
        ;
      },
      //Mover datos a la página
      moverDatosUsuario(usuarioPostgre,usuarioMongo){

        //console.log(usuarioPostgre);
        //console.log(usuarioMongo);

        document.getElementsByName("username")[0].value = usuarioMongo.username;
        document.getElementsByName("emailUsu")[0].value = usuarioMongo.email;
        document.getElementsByName("passwordUsu")[0].value = usuarioPostgre.data.password;

        //console.log("ddd"+usuarioMongo.equipo + usuarioMongo.telefono);

        //Datos para la BBDD de Mongo
        document.getElementsByName("ciudadUsu")[0].value = usuarioMongo.ciudad;
        document.getElementsByName("equipoUsu")[0].value = usuarioMongo.equipo;
        document.getElementsByName("telefonoUsu")[0].value = usuarioMongo.telefono;
        document.getElementsByName("apellidosUsu")[0].value = usuarioMongo.usuario.apellido;
        document.getElementsByName("nombreUsu")[0].value = usuarioMongo.usuario.nombre;
        document.getElementsByName("imagenUsu")[0].value = usuarioMongo.imagen;

      },
      //Actualizar sobre la base de datos
      actualizarUsu(){

        //console.log("entro a actualizar");
        usuarioLog = JSON.parse(sessionStorage["usuariolog"]);

        var urlIdMongo = this.urlmongo + "/" + usuarioLog.idmongo  + "?apiKey=" + this.apikey;
        var urlIdPostgre = this.urlbbdd + "/" + usuarioLog.idpostgre;

        var spanMensaje = document.getElementsByName("mensaje")[0];

        var peticion = new XMLHttpRequest();
        peticion.open("PUT",urlIdPostgre,false);
        peticion.setRequestHeader("Content-Type", "application/json");
        peticion.setRequestHeader("Access-Control-Allow-Origin", "*");

        //Datos para BBDD de postgreSQL
        var username = document.getElementsByName("username")[0].value;
        var emailUsu = document.getElementsByName("emailUsu")[0].value;
        var passwordUsu = document.getElementsByName("passwordUsu")[0].value;


        //Datos para la BBDD de Mongo
        var ciudadUsu = document.getElementsByName("ciudadUsu")[0].value;
        var equipoUsu = document.getElementsByName("equipoUsu")[0].value;
        var telefonoUsu = document.getElementsByName("telefonoUsu")[0].value;
        var apellidosUsu = document.getElementsByName("apellidosUsu")[0].value;
        var nombreUsu = document.getElementsByName("nombreUsu")[0].value;
        var imagenUsu = document.getElementsByName("imagenUsu")[0].value;

        if (username == "" || emailUsu == "" ||
            passwordUsu == "" || ciudadUsu == "" ||
            equipoUsu == "" || nombreUsu == "" )
        {
            spanMensaje.innerText = "Informar campos requeridos *";
        }
        else
        {

            var usuarioJsonSQL =  '{"nombre":"' + username + '", "email": "' + emailUsu + '", "password": "' + passwordUsu + '"}';

            var usuarioJsonMongo =  '{"email":"'+ emailUsu +
                            '","username":"' + username  +
                            '","usuario": {"nombre": "'+ nombreUsu +
                            '","apellido": "' + apellidosUsu +
                            '"},"imagen":"'+ imagenUsu +
                            '","telefono":"'+ telefonoUsu +
                            '","equipo":"'+ equipoUsu +
                            '","ciudad":"'+ ciudadUsu + '"}';

            usuarioLog.autor.nombre = nombreUsu;
            usuarioLog.autor.apellido = apellidosUsu;
            usuarioLog.imagen = imagenUsu;
            usuarioLog.equipo = equipoUsu;
            usuarioLog.ciudad = ciudadUsu;

            //console.log(usuarioJsonSQL);
            //console.log(usuarioJsonMongo);

            //Actualiza PostgreSQL
            peticion.send(usuarioJsonSQL);

            if (peticion.status=="200")
            {
               var respuesta = JSON.parse(peticion.responseText);

               //Actualiza Mongo
               var peticionMongo = new XMLHttpRequest();
               peticionMongo.open("PUT",urlIdMongo,false);
               peticionMongo.setRequestHeader("Content-Type", "application/json");
               console.log(urlIdMongo);
               peticionMongo.send(usuarioJsonMongo);

               if (peticionMongo.status=="200")
               {
                 console.log(JSON.stringify(usuarioLog));

                 //Actualiza sessionStorage
                 sessionStorage.setItem("usuariolog", JSON.stringify(usuarioLog));
                 location.href="/landing";
               }
               else
               {
                 spanMensaje.innerText = "Error al Modificar usuario";
               }
             }
             else
             {
                 spanMensaje.innerText = "Error al Modificar usuario";
             }

            }
      }
    })

  </script>

</dom-module>
