<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">


<dom-module id="mantenimientopost-app">
  <template >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="fondopost">


    <div class="container">
     <div id="signupbox" style=" margin-top:50px" >
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <strong class="" id="titulopanelpost">Insertar Post</strong>
                              </div>
                            <div class="panel-body" >
                                <form id="signupform" class="form-horizontal" role="form">

                                    <div class="form-group">
                                        <label for="Titulo" class="col-md-3 control-label">Título</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="tituloPost" name="tituloPost" placeholder="Título*" required="true" autofocus=""/>
                                        </div>
                                    </div>

                               <div class="form-group">
                                        <label for="texto" class="col-md-3 control-label">Texto</label>
                                        <div class="col-md-9">
                                            <textarea name="textoPost" class="form-control" id="textoPost" rows="8" cols="80" placeholder="Texto*" required></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="nombre" class="col-md-3 control-label">Nombre</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="nomAutorPost" name="nomAutorPost" required="true" disabled/>
                                        </div>
                                    </div>

                                <div class="form-group">
                                        <label for="apellidos" class="col-md-3 control-label">Apellidos</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="apelliAutorPost" name="apelliAutorPost" disabled autofocus="" />
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="password" class="col-md-3 control-label">Imagen</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="imagenPost" name="imagenPost" placeholder="Ruta Imagen" required="" autofocus="" />
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="password" class="col-md-3 control-label">Ruta Documentación</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="docPost" name="docPost" placeholder="Ruta Documentación"  autofocus="" />
                                        </div>
                                </div>
                                <div class="form-group">
                                     <label class="col-md-3 control-label" for=sel1>Categoria</label>
                                     <div class="col-md-9">
                                       <select class="form-control" id="categoriaPost"  name="categoriaPost">
                                         <option>Proyecto</option>
                                         <option>Incidencia</option>
                                         <option>Campaña</option>
                                         <option>Noticia</option>
                                       </select>
                                     </div>
                                </div>

                                <div class="form-group">
                                     <label class="col-md-3 control-label" for="sel1">Equipo</label>
                                     <div class="col-md-9">
                                       <select class="form-control" id="sel1" name="equipoPost" disabled="">
                                         <option>Proyectos</option>
                                         <option>ANS</option>
                                         <option>Negocio</option>
                                         <option>Opplus</option>
                                       </select>
                                     </div>
                                </div>


                                <div class="form-group">
                                  <div class="text-center">
                                    <span id="mensaje" name="mensaje"></span>
                                   </div>
                                </div>


                                <button class="pull-right btn btn-negro " type="button" name="btnAceptar" on-click="insertarPost">Aceptar</button>

                                <button class="pull-right btn btn-negro" type="button" name="btnActualizar" on-click="actualizarPost">Actualizar</button>

                                </form>
                             </div>
                        </div>

                      </div>
            </div>
</div>


</template>

  <script>
    Polymer({
      is:'mantenimientopost-app',
      properties:{
        urlbbdd:{
          type:String,
          value:'https://api.mlab.com/api/1/databases/bootcamp/collections/posts'
        },
        apikey:{
          type:String,
          value:'plZnUksVVShCyccLHHF60bQnVze1kN0s'
        },
        idpost:{
          type:String,
          },
        accionpost:{
            type:String
        },
        arraypost:{
            type:Array
        },

      },
      // Función que se ejecuta al inicio del componente y lo formatea en función
      // de si hay que insertar o modificar (recupera valores de BBDD)
      ready:function(){

        var btnAceptar = document.getElementsByName("btnAceptar")[0];
        var btnActualizar = document.getElementsByName("btnActualizar")[0];

        if (this.accionpost == "modificar")
        {
          btnAceptar.style.visibility = "hidden";
          btnAceptar.style.display = "none";

          this.idpost = sessionStorage["postEditar"];

          if (this.idpost != "")
          {
            var postModif = this.obtenerPosts();
            this.moverDatosPost(postModif);
          }
          this.$.titulopanelpost.innerText = "Modificar Post";

        }
        else
        {
          btnActualizar.style.visibility = "hidden";
          btnActualizar.style.display = "none";

          var usuarioLog = JSON.parse(sessionStorage["usuariolog"]);
          //console.log("ddd"+usuarioLog);
          document.getElementsByName("nomAutorPost")[0].value = usuarioLog.autor.nombre;
          document.getElementsByName("apelliAutorPost")[0].value = usuarioLog.autor.apellido;
          document.getElementsByName("equipoPost")[0].value = usuarioLog.equipo;
        }

      },

      //Funcion que inserta los valores introducidos previo comprobación
      insertarPost: function(){

        const imagendefecto = "http://i64.tinypic.com/2m77n9h.jpg";

        var urlMongo = this.urlbbdd + "?apiKey=" + this.apikey;

        var peticion = new XMLHttpRequest();
        peticion.open("POST",urlMongo,false);
        peticion.setRequestHeader("Content-Type","application/json");

        var spanMensaje = document.getElementsByName("mensaje")[0];

        var tituloPost = document.getElementsByName("tituloPost")[0].value;
        var textoPost = document.getElementsByName("textoPost")[0].value;
        var nomAutorPost = document.getElementsByName("nomAutorPost")[0].value;
        var apelliAutorPost = document.getElementsByName("apelliAutorPost")[0].value;
        var imagenPost = document.getElementsByName("imagenPost")[0].value;
        var categoriaPost = document.getElementsByName("categoriaPost")[0].value;
        var equipoPost = document.getElementsByName("equipoPost")[0].value;
        var docPost = document.getElementsByName("docPost")[0].value;

        if (imagenPost == ""){

            imagenPost = imagendefecto;
        }

        if (tituloPost == "" || textoPost == "" ||
            nomAutorPost == "" || categoriaPost == "" ||
            equipoPost == ""  )
        {
            spanMensaje.innerText = "Informar campos requeridos *";
        }
        else
        {

            var fechaActual = new Date();
            var fechaTxT = fechaActual.toISOString();

            var fechaFor = fechaTxT.slice(8,10) +"/"+fechaTxT.slice(5,7) +"/"+ fechaTxT.slice(0,4)
            //console.log(fechaTxT + fechaFor);
            var usuarioLog = JSON.parse(sessionStorage["usuariolog"]);

              var postJson =  '{"titulo":"'+ tituloPost +
                            '","texto":"' + textoPost  +
                            '","autor": {"nombre": "'+ nomAutorPost +
                            '","apellido": "' + apelliAutorPost +
                            '"},"imagen":"'+ imagenPost +
                            '","categoria":"'+ categoriaPost +
                            '","equipo":"'+ equipoPost +
                            '","rutadoc":"'+ docPost +
                            '","fechafor":"'+ fechaFor +
                            '","fecha": {"$date":"'+ fechaTxT +
                            '"},"votoPos":0,"votoNeg":0,' +
                            '"usuario":"'+ usuarioLog.usuario +'"}'

             //console.log(postJson);

             peticion.send(postJson);

             if (peticion.status=="200")
             {
                 location.href="/landing";
             }
             else
             {
                 spanMensaje.innerText = "Error al insertar Post";
             }
         }
      },

      //Función que recupera los campos de la BBDD del post a modificar
      obtenerPosts: function(){

        var urlId = this.urlbbdd + "/" + this.idpost + "?apiKey=" + this.apikey;
        //console.log(urlId);

        var postModif;

        var peticion = new XMLHttpRequest();
        peticion.open("GET", urlId, false);
        peticion.setRequestHeader("Content-Type","application/json");
        peticion.send();

        if (peticion.status=="200")
        {
          var response = JSON.parse(peticion.responseText);
          //console.log(response);

          postModif = JSON.parse(peticion.responseText);
        }
        else
        {
            document.getElementsByName("mensaje")[0].innerText = "Error al insertar Post";
        }

        return postModif;

      },

      //Asigna valor por pantalla
      moverDatosPost(postModif){

        //console.log(postModif);
        document.getElementsByName("tituloPost")[0].value = postModif.titulo;
        document.getElementsByName("textoPost")[0].value = postModif.texto;
        document.getElementsByName("nomAutorPost")[0].value = postModif.autor.nombre;
        document.getElementsByName("apelliAutorPost")[0].value = postModif.autor.apellido;
        document.getElementsByName("imagenPost")[0].value = postModif.imagen;
        document.getElementsByName("categoriaPost")[0].value = postModif.categoria;
        document.getElementsByName("equipoPost")[0].value = postModif.equipo;
        document.getElementsByName("docPost")[0].value = postModif.rutadoc;

        this.arraypost = postModif;
      },
      //Función que actualiza el post en BBDD
      actualizarPost(){

        var spanMensaje = document.getElementsByName("mensaje")[0];

        var tituloPost = document.getElementsByName("tituloPost")[0].value;
        var textoPost = document.getElementsByName("textoPost")[0].value;
        var nomAutorPost = document.getElementsByName("nomAutorPost")[0].value;
        var apelliAutorPost = document.getElementsByName("apelliAutorPost")[0].value;
        var imagenPost = document.getElementsByName("imagenPost")[0].value;
        var categoriaPost = document.getElementsByName("categoriaPost")[0].value;
        var equipoPost = document.getElementsByName("equipoPost")[0].value;
        var docPost = document.getElementsByName("docPost")[0].value;

        if (tituloPost == "" || textoPost == "" ||
            nomAutorPost == "" || categoriaPost == "" ||
            equipoPost == ""  )
        {
            spanMensaje.innerText = "Informar campos requeridos *";
        }
        else
        {

          fechaTxT = this.arraypost.fecha.$date;
          var votoPos = this.arraypost.votoPos;
          var votoNeg = this.arraypost.votoNeg;
          var usuario = this.arraypost.usuario;
          var fechaFor = this.arraypost.fechafor;

          var postJson2 = '{"titulo":"modificado","texto":"textomodifica"}'
          var postJson =  '{"titulo":"'+ tituloPost +
                          '","texto":"' + textoPost  +
                          '","autor": {"nombre": "'+ nomAutorPost +
                          '","apellido": "' + apelliAutorPost +
                          '"},"imagen":"'+ imagenPost +
                          '","categoria":"'+ categoriaPost +
                          '","equipo":"'+ equipoPost +
                          '","rutadoc":"'+ docPost +
                          '","fechafor":"'+ fechaFor +
                          '","fecha": {"$date":"'+ fechaTxT +
                          '"},"votoPos":' + votoPos +
                          ',"votoNeg":' + votoNeg +
                          ',"usuario":"'+ usuario+'"}'
          //console.log(postJson);

          var urlId = this.urlbbdd + "/" + this.idpost + "?apiKey=" + this.apikey;
          //console.log(urlId);

          var peticion = new XMLHttpRequest();
          peticion.open("PUT", urlId, false);
          peticion.setRequestHeader("Content-Type","application/json");
          peticion.send(postJson);

          if (peticion.status=="200")
          {
            var response = JSON.parse(peticion.responseText);
            //console.log(response);
            location.href="/adminpost";
          }
          else
          {
              spanMensaje.innerText = "Error al modificar Post";
          }
        }
      }
    })


  </script>

</dom-module>
