<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">


<dom-module id="tiempo-app">
  <template >

  <div class="container">
    <div class="">
      <span><strong name="ciudad" id="ciudad"></strong></span>
      <span name="temperatura" id="temperatura"></span>
    <!--</div>
    <div class="">

    </div>
    <div class="">
      <span name="tempmin">3</span>
    </div>
    <div class="">
      <span name="tempmax">4</span>
    </div>

    <div class="">-->
      <span name="humedad" id="humedad"></span>
    </div>
  </div>

</template>

  <script>
    Polymer({
      is:'tiempo-app',
      properties:{
        urltiempo:{
          type:String,
          value:'http://api.openweathermap.org/data/2.5/weather'
        },
        apikey:{
          type:String,
          value:'d73ba20a2a4d0bc0f2c352fd112be856'
        },
        ciudadpoly:{
          type:String,
          },
      },
      //Al cargar el componente se recupera la ciudad del usuario y se obtiene el tiempo
      ready:function(){

        var ciudadWeather = "Madrid";
        if (this.ciudadpoly == " " || this.ciudadpoly == null)
          ciudadWeather = this.recuperarCiudad();
        else
        {
          ciudadWeather = this.ciudadpoly;
        }

        this.recuperarTiempo(ciudadWeather);
      },
      //Recupera la ciudad de la sesion
      recuperarCiudad: function(){

        var usuarioLog = JSON.parse(sessionStorage["usuariolog"]);
        var ciudad;

        if (usuarioLog.ciudad == " " || usuarioLog.ciudad == null)
        {
            ciudad = "Madrid";
        }
        else
        {
          ciudad = usuarioLog.ciudad
        }

        return ciudad;

      },
      //Llama a la api de openweather para recuperar el tiempo
      recuperarTiempo: function(ciudadWeather){

        var urlOpenWeather = this.urltiempo + "?q=" + ciudadWeather  + "&APPID=" + this.apikey;

        var peticion = new XMLHttpRequest();
        peticion.open("GET",urlOpenWeather,false);
        //peticion.setRequestHeader("Content-Type", "application/json");
        //peticion.setRequestHeader("Access-Control-Allow-Origin", "*");

        //console.log("dddd"+urlOpenWeather);
        peticion.send();

         if (peticion.status=="200")
         {
           var respuesta = JSON.parse(peticion.responseText);
           console.log(respuesta.main);

           //Corrección Chrome
           /*document.getElementsByName("ciudad")[0].innerText = ciudadWeather;
           var temp =  (respuesta.main.temp - 273);
           document.getElementsByName("temperatura")[0].innerText = "Temperatura: " + temp.toFixed(0)+"°C";

           document.getElementsByName("humedad")[0].innerText = "Humedad: " + respuesta.main.humidity+"%";*/

           this.$.ciudad.innerText = ciudadWeather;

           var temp =  (respuesta.main.temp - 273);

           this.$.temperatura.innerText = "Temperatura: " + temp.toFixed(0)+"°C";
           this.$.humedad.innerText = "Humedad: " + respuesta.main.humidity+"%";
         }
         else
         {
             alert("Error openweather");
         }
      }

    })


  </script>

</dom-module>
