.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.navbar{margin-bottom:0;}

.btncuenta {
background-color: black;
color:white;
}

.btnlogin {
background-color: red;
color:white;
}

figure img{
    width: 35%;
    height: 35%;
}

.panelazul{
  height: 6px;
  background-color: #00396b;
}

.barrafondo{

  background-color: #00396b;

}

.temp{
  color: white;
  background-color: #00396b;

}

.tit2{
  color: black;
  font-family: Verdana,Geneva,sans-serif;
}

.fondoredu{

  background-color: #dcd7d6;
  margin-bottom:0;
}

.fondoredublan{

  background-color: white;
  margin-bottom:0;
}
