.btncoment {
background-color: black;
color:white;
}

.comentario{
background-color: white;
border-radius: 40px 40px 40px 40px;
-moz-border-radius: 40px 40px 40px 40px;
-webkit-border-radius: 40px 40px 40px 40px;
border: 0px solid #000000;

max-width: 400px;
}
