.fondousu{

background-color: #00396b;
 }

.contexto{

  background-color: #F2F4F6;
}

.imgajust{
  width: 35%;
  height: 35%;
  max-width: 150px;
  max-height: 200px;

}
.panelsepa{

  margin-top: 12px;
}
