.categdet{
  background-color: #00396b;
  color: white;
  border-radius: 10px 10px 140px 10px;
  -moz-border-radius: 10px 10px 140px 10px;
  -webkit-border-radius: 10px 10px 140px 10px;
  border: 0px solid #000000;
}

.btndoc {
background-color: #0f9400;
color:white;
}

.fondopost{

background-color: #00396b;
 }

.parrafo{
  font-size: 20px;

}

.contexto{

  background-color: #F2F4F6;
}
