


.btn-default {
  color: #333;
  background-color: #009688;
  border-color: #009688;
  border-radius:0px;
  color:#fff;
}


.content-title{padding:5px;background-color:#fff;}
.content-title h3 a{color:#34495E;text-decoration:none; transition: 0.5s;}
.content-title h3 a:hover{color:#F39C12; }
.content-footer{background-color:#00396b;padding:10px;position: relative;}


aside{
  margin-top: 30px;
  -webkit-box-shadow: 1px 4px 16px 3px rgba(199,197,199,1);
-moz-box-shadow: 1px 4px 16px 3px rgba(199,197,199,1);
box-shadow: 1px 4px 16px 3px rgba(199,197,199,1);}
aside .content-footer>img {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  margin-right: 10px;
  border: 2px solid #fff;
}

.foto{

	position:relative;
}

.foto img{
	width:100%;
}

.foto p{
	position:absolute;
	bottom:15px;
	width:20%;
	text-align:center;
	color:rgba(243,243,243,.8);
	font-size:16px;
	background-color:rgba(0,0,0,.7);
	padding:.2em 0;

}

.author
{
    font-size: 13px;
    color: #737373;

}

.btn-post {
background-color: white;
color: black;
}
