body{
height: 100%;
background-color: #F2F4F6;  }

.fondopost{
height: 100%;
background-color: #F2F4F6;  }

.btn-negro{
  background-color: #01002e;
  color: white;
}

.btn-excel{
  background-color: #0f9400;
  color: white;
}

.btn-delete{
  background-color: #c70000;
  color: white;
}

.btn-edit{
  background-color: black;
  color: white;
}

.imgajust{
  width: 25%;
  height: 25%;
  max-width: 150px;
  max-height: 200px;

}

.author
{
    font-size: 13px;
    color: #737373;
}

.categ{
  background-color: #00396b;
  color: white;
  order-radius: 0px 0px 0px 30px;
  -moz-border-radius: 0px 0px 0px 30px;
  -webkit-border-radius: 0px 0px 0px 30px;
  border: 0px solid #000000;
}

.cortartext{
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}
