.btn-negro{
  background-color: black;
  color: white;
}
.cabecera{
  background-color: black;
  color: white;
}

.imgesquina{
  display:scroll;

  bottom:0px;right:20px;
  max-width: 50%;
}

.fondo{
  background-color: #00396b;
}

.pepe{margin-bottom:0;}

.resultado{
  color:red;
}
